@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Ingredar Datos de un Empleado</h2>

    <form asp-action="Tp2" method="post">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="lastName" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName">
            </div>
        </div>
        <div class="row mb-3">
            <label for="fechaNacimiento" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
            </div>
        </div>
        <div class="row mb-3">
            <label for="tel" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="tel" name="tel">
            </div>
        </div>
        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address">
            </div>
        </div>
        <div class="row mb-3">
            <label for="rol" class="col-sm-2 col-form-label">Rol en la Empresa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rol" name="rol">
            </div>
        </div>
        <div class="row mb-3">
            <label for="fechaIngreso" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso">
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Enviar!!</button>
    </form>

</div>
